.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#terminal {
    display: flex;
    pointer-events: none;
}

#root {
    display: flex;
    flex-flow: column;
    font-family: monospace;
}

.row {
    display: flex;
    flex-flow: row;
}

.cell {
    width: 10px;
    height: 10px;
}

.edge {
    background-color: grey;
    color: white;
}

.rock {
    background-color: grey;
}

.floor {
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#debug-canvas {
    z-index: 2;
    position: absolute;
    width: 100%;
}
